Your content type was successfully created!

{{name}}

id    {{id}}
kind  {{kind}}
fields
{{#fields}}
      {{id}}
        label:    {{label}}
        type:     {{type}}
        required: {{required}}
{{/fields}}