Your changes was successfully pushed to KIQR.CLOUD!
Access the content editor at https://kiqr.cloud

Push message: {{message}}
Schema version: {{version}}

Updated kiqr.json with the bumped version number.