Hello, {{user.name}}!
You're currently signed in to account: {{user.email}}

Full name:     {{user.name}}
Email:         {{user.email}}

Avatar URL:
{{{user.avatar_url}}}

To sign out, run command:
$ kiqr logout
